################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ecommerce
/Ecommerce.API/bin
/Ecommerce.API/obj
/Ecommerce.API/appsettings.Development.json
/Ecommerce.Application/bin
/Ecommerce.Application/obj
/obj
/bin
/.vs
/Ecommerce.Shared/bin
/Ecommerce.Shared/obj
/Ecommerce.UI/bin
/Ecommerce.UI/obj
/IdentityServer/bin
/IdentityServer/obj
/.idea/config/applicationhost.config
/.idea/.idea.Ecommerce/.idea/contentModel.xml
/.idea/.idea.Ecommerce/.idea/encodings.xml
/.idea/.idea.Ecommerce/.idea/indexLayout.xml
/.idea/.idea.Ecommerce/.idea/modules.xml
/.idea/.idea.Ecommerce/.idea/projectSettingsUpdater.xml
/.idea/.idea.Ecommerce/riderModule.iml
/IdentityServer/tempkey.rsa
/.idea/.idea.Ecommerce/.idea/vcs.xml
